<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/adminDashboard.css">
  <title>Admin - Manage Customers</title>
</head>
<body>
  <div class="navbar">
    <div class="title">Admin Dashboard - Manage Customers</div>
    <form action="/admin/logout" method="POST">
      <button class="logout-btn" type="submit">Logout</button>
    </form>
  </div>

  <div class="main">
    <div class="sidebar">
      <a href="/admin/dashboard/list">Customer List</a>
      <a href="/admin/dashboard/complaints">Complaints</a>
    </div>  
    <div class="content">
      <%- body %>
    </div>
  </div>

</body>
</html>
