<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/admin/login" method="post" id="admin-login-form">
        <div>
            <input type="text" id = "email", name = "email", placeholder="Enter Username/Email" required>
        </div>
        <div>
            <input type="password" id = "password", name = "password", placeholder="Enter Password" required>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>
        <a href="/">Go back to home page</a>
    </form>
    <ul>
        <% if (typeof errors !== 'undefined') { %>
            <% errors.forEach(function(error) { %>
                <li><%= error.message %></li>
            <% }); %>
        <% } %>
    </ul>
    <div class="success">
        Login Successfull, redirecting.....
    </div>
    <div class="failure">
        Invalid Username or Password
    </div>
    <script src="/js/adminLogin.js"></script>
</body>
</html>