<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Dashboard</title>
</head>
<body>
    <h2>Hello, <%= user %></h2>
    <form action="/user/logout" method="post">
        <button type = "submit" id = "logout-button">Logout</button>
    </form>
    
</body>
</html>