<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">



</head>

<body>
    <nav class="navbar">
        <a href="#" class="logo">TITAN NETWOKS</a>
        <div class="nav-links">
            <a href="#">Home</a>

            <a href="/user/register">New Connection</a>
            <a href="/user/login"><img src="/images/adminLogin.png" width="40px" height="40px"></a>
            <a href="#">About</a>



        </div>

    </nav>
    <img class="img-1" src="/images/2-good-to-be-true-desk.png" alt="oops">
    <img src="/images/2-good-to-be-true-desk.png" alt="oops">
    <img src="/images/2-good-to-be-true-desk.png" alt="oops">


</body>

</html>